extends layout 
 
block content 
  h1= title 
 
  - let appleid = toShow._id 
  - let apple_type = toShow.apple_type 
  - let cost = toShow.cost 
  - let quantity = toShow.quantity 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{appleid} 
  - let actionid = "/resource/apple/" + appleid 
  form(id='appleForm', action= actionid, method="PUT") 
    div.form-group 
        label.appleAttr(for='apple_type') apple type 
        input#apple_type(type='text', name='apple_type', value= apple_type ) 
    div.form-group 
        label.appleAttr(for='quantity') apple quantity 
        input#size(type='number', name='quantity', value= quantity) 
    div.form-group 
        label.appleAttr(for='cost') apple cost 
        input#cost(type='number', name='cost', value= cost) 
    input(type="submit") 
 
  script. 
    document.forms['appleForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 